# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

libav_output_files/
ferrymediacapture1/
dist/
**/build*/
**/Build/

nbproject/private/
build/
dist/
nbdist/
*.user

# CMake
**/CMakeLists.txt.user

# macOS
**/._*
**/.DS*
**/*.xcodeproj/xcuserdata/
