# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

ffmpeg_build/
ffmpeg_sources/
libav_output_files/
ferrymediacapture1/
dist/

