Source: ferryfair
Priority: optional
Maintainer: Satya Gowtham Kudupudi <satyagowtham.k@gmail.com>
Build-Depends: debhelper (>= 9), cmake, libFFJSON-dev, liblogger-dev, libwebsockets-dev, libferrybase-dev
Standards-Version: 3.9.7
Section: non-free/libs
Homepage: https://github.com/necktwi/ferryfair
Vcs-Git: https://github.com/necktwi/ferryfair.git
Vcs-Browser: https://github.com/necktwi/ferryfair

Package: ferryfair
Section: non-free/libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libffjson1, liblogger1, libferrybase1, libwebsockets7
Description: server for ferryfair.com
 a controller of entire organization

